.mainCategory {
  margin-top: 125px;
  .listMainCategory {
    background-color: #f0f2f5;
    padding: 1rem;
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 0px 10px;
        position: relative;
        display: flex;
        align-items: center;
        a {
          outline: none;
          opacity: 0.5;
          color: #112950;
          text-decoration: none;
        }
        &:nth-child(2) {
          a {
            opacity: 1;
          }
          &::before {
            position: absolute;
            content: ">";
            font-size: 12px;
            left: 0px;
          }
        }
      }
    }
  }
  .nameMainCategory {
    padding: 2rem 0px;
    background-color: #f2f6fe;
    h1 {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      color: #112950;
    }
  }
  .contentCategory {
    .contentCategory__Left {
      padding: 20px 0px;
      .nameContent__Left {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin: 20px 0px;
      }
      .productContent__Left {
        ul {
          margin-bottom: 20px;
        }
        .ItemContent__Left {
          margin-bottom: 10px;
          .itemChild__Left {
            display: flex;
            align-items: center;
            a {
              outline: none;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 1 0 auto;
              .imageItem {
                margin-right: 10px;
                width: 64px;
                height: 64px;
              }
              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #112950;
                flex: 1 0 auto;
                cursor: pointer;
              }
            }
            .iconSVG {
              text-align: right;
              img {
                transition: all 0.7s;
                transform: rotate(180deg);
              }
              cursor: pointer;
            }
            &:hover {
              p {
                color: #0f62f9 !important;
              }
            }
          }
          .dropdownItemChild__Left {
            max-height: 0px;
            overflow: hidden;
            transition: all 0.7s;
            .fullItemChilDropDown {
              padding: 6px 12px 6px 30px;
              width: 100%;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              border-radius: 0 0 12px 12px;
              border-top: 0;
              transition: all 0.7s;
              .activeDropdown {
                a {
                  color: #0f62f9 !important;
                }
                svg {
                  path {
                    fill: #0f62f9 !important;
                  }
                }
              }
              .nameDropDownItem__Left {
                padding: 10px 0px;
                a {
                  font-size: 14px;
                  outline: none;
                  text-decoration: none;
                  font-weight: 400;
                  color: black;
                  line-height: 24px;
                  position: relative;
                  padding-left: 17px;
                  cursor: pointer;
                  svg {
                    position: absolute;
                    left: 0;
                    top: -webkit-calc(50% - 6px/2);
                    top: -moz-calc(50% - 6px/2);
                    top: calc(50% - 6px / 2);
                    path {
                      fill: black;
                    }
                  }
                }
                &:hover {
                  a {
                    color: #0f62f9 !important;
                    svg {
                      path {
                        fill: #0f62f9;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .activeItemContent__Left {
          .itemChild__Left {
            p {
              color: #0f62f9 !important;
            }
            .iconSVG {
              img {
                transform: rotate(0deg) !important;
                transition: all 0.7s;
              }
            }
          }
          .dropdownItemChild__Left {
            max-height: 1000px !important;
            transition: all 0.7s;
          }
        }
      }
    }
    .contentCategory__Right {
      border-left: 1px solid #e5e5e5;
      padding-left: 15px;
      padding-bottom: 2rem;
      .bannerCategory {
        .slick-slider {
          .slick-prev,
          .slick-next {
            z-index: 1;
            top: 45%;
            &::before {
              font-size: 40px;
              color: #f2f6fe;
              opacity: 1;
            }
          }
          .slick-next {
            right: 20px;
          }
          .slick-prev {
            left: 0px;
          }
        }
      }
      .mainProductCategory {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 40px 0px 20px;
        .ItemCategory {
          padding: 12px;
          background: #fff;
          box-shadow: 0 0 12px rgb(15 61 145 / 12%);
          border-radius: 12px;
          height: calc(100% - 10px);
          border: 2px solid transparent;
          position: relative;
          cursor: pointer;
          margin-bottom: 10px;
          &:hover {
            border: 2px solid #5dac46;
          }
          a {
            outline: none;
            text-decoration: none;
          }
          .discountPos {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 2;
            p {
              font-size: 0.938rem;
              color: #fff;
              background: #f33060;
              padding: 8px 15px;
              border-radius: 30px;
              font-weight: 400;
            }
          }
          .imageItemCategory {
            position: relative;
            padding-bottom: 100%;
            img {
              margin: auto;
              position: absolute;
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              z-index: 1;
              width: 100%;
              height: 100%;
            }
          }
          .nameItemCategory {
            margin: 5px 0px;
            h1 {
              font-weight: 400;
              font-size: 1rem;
              line-height: 24px;
              white-space: wrap;
              color: #112950;
              height: 25px;
              display: -webkit-box;
              width: 100%;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-word;
            }
          }
          .priceItemCategory {
            margin: 5px 0px;
            p {
              font-weight: bolder;
              font-style: normal;
              font-weight: 700;
              font-size: 1rem;
              line-height: 24px;
              color: #0f62f9;
              span {
                font-weight: 400;
              }
            }
            .start__number {
              div {
                flex: 1 0 auto;
              }
            }
            .price__discount,.start__number {
              display: flex;
              align-items: center;
              margin: 5px 0px;
              p {
                flex:  1 0;
              }
              span {
                font-style: normal;
                font-weight: 500;
                font-size: 1rem;
                line-height: 24px;
                color:  #112950;
              }
            }
          }
          .cartItemCategory {
            margin: 5px 0px;
            button {
              width: 100%;
              border: none;
              border-radius: 12px;
              font-style: normal;
              font-size: 1rem;
              line-height: 24px;
              background: #5dac46;
              color: #fff;
              cursor: pointer;
              padding: 10px 0px;
            }
          }
        }
      }
      .paginationCategory {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            display: inline-block;
            height: 28px;
            margin-right: 8px;
            line-height: 26px;
            vertical-align: middle;
            min-width: 28px;
            font-family: RoundedNext;
            text-align: center;
            list-style: none;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            outline: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
              border-color: #1890ff;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
              a {
                color: #0f62f9;
              }
            }
            a {
              display: block;
              padding: 0 6px;
              color: rgba(0, 0, 0, 0.85);
              -webkit-transition: none;
              -moz-transition: none;
              transition: none;
              text-decoration: none;
            }
          }
          .ActiveListPagination {
            border-color: #1890ff;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            a {
              color: #0f62f9;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .mainCategory {
    margin-top: 170px;
    .nameMainCategory {
      h1 {
        font-size: 20px !important;
      }
    }
    .contentCategory {
      
      .contentCategory__Left {
        padding: 20px 0px;
        margin-bottom: 20px;
      }
      .contentCategory__Right {
        border-left: 0px;
        padding-left: 0px;
        margin-bottom: 3rem;
        .mainProductCategory {
          grid-template-columns: 1fr 1fr;
          .ItemCategory {
            .discountPos {
              p {
                line-height: 22px;
                font-size: 0.75rem !important;
                height: 22px;
                width: 43px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .priceItemCategory {
              p {
                font-size: 0.875rem !important;
                line-height: 18px !important;
              }
            }
            .nameItemCategory {
              h1 {
                font-size: 0.75rem !important;
                line-height: 17px !important;
                height: 35px !important;
              }
            }
            .cartItemCategory {
              button {
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.75rem !important;
                line-height: 18px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .mainCategory {
    .nameMainCategory {
      h1 {
        font-size: 24px !important;
      }
    }
    .contentCategory {
      .contentCategory__Left {
        margin-bottom: 20px;
      }
      .contentCategory__Right {
        border-left: 0px;
        padding-left: 0px;
        margin-bottom: 3rem;
        .mainProductCategory {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainCategory {
    margin-top: 80px;
    .nameMainCategory {
      h1 {
        font-size: 26px !important;
      }
    }
    .contentCategory {
      .col-md-3 {
        width: 100%;
      }
      .col-md-9 {
        width: 100%;
      }
      .contentCategory__Left {
        margin-bottom: 20px;
      }
      .contentCategory__Right {
        border-left: 0px;
        padding-left: 0px;
        margin-bottom: 3rem;
        .mainProductCategory {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .mainCategory {
    margin-top: 100px;
    .contentCategory {
      .contentCategory__Right {
        .mainProductCategory {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .mainCategory {
    margin-top: 100px;
    .contentCategory {
      .col-md-3 {
        width: 30%;
      }
      .col-md-9 {
        width: 70%;
      }
      .contentCategory__Right {
        margin-bottom: 3rem;
        .mainProductCategory {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}
