.modalSearch {
  position: absolute;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  top: 60px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.75rem;
  box-shadow: 0 0 16px rgb(0 0 0 / 20%);
  max-height: 70vh;
  overflow-y: auto;
  .modalSearch__Content {
    flex: 85% 1;
    padding: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .modalSearch__Item {
      display: -moz-box;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: justify;
      justify-content: space-between;
      a {
        color: #000 !important;
        margin: 20px 0px;
        outline: none;
        text-decoration: none;
        font-size: 0.938rem !important;
        width: 85%;
        svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }
      svg {
        width: 24px;
      }
    }
  }
}
