.Modal-full {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 999;
  background-color: rgba(17, 41, 80, 0.75);
  .Modal-User {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    width: 55%;
    .Modal-User_left {
      flex: 1;
      .Modal-User_left-body {
        margin: 20px 0px;
        padding: 0px 20px;
        h1 {
          font-weight: 700;
          font-size: 26px;
          line-height: 32px;
          color: #5dac46;
        }
        p {
          font-size: 0.875rem;
          line-height: 24px;
          margin: 10px 0px;
          .Tooltip_icon__3t6rX {
            margin-left: 10px;
            cursor: pointer;
            &:hover + {
              .contentTool {
                opacity: 1 !important;
                visibility: visible !important;
                transform: translateY(0px) !important;
              }
            }
          }
          .contentTool {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transform: translateY(15px);
            transition: all 0.3s;
            background-color: #f2f6fe !important;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 0 16px rgb(0 0 0 / 20%);
            left: 180px;
            z-index: 999;
            bottom: 35px;
            h1 {
              font-size: 18px;
              color: #000;
            }
            ul {
              padding: 0px 20px;
              list-style: disc;
              li {
                p {
                  line-height: 13px;
                }
              }
            }
          }
        }
      }
      .Modal-User_left-bottom {
        padding: 0px 20px;
        margin: 20px 0px;
        p {
          background-color: #fffadd;
          padding: 1rem;
          border-radius: 0.75rem;
          border: 1px solid #feaa48;
          margin-bottom: 0;
          line-height: 25px;
          span {
            padding: 0px 5px;
            color: #5dac46 !important;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .Modal-User_right {
      position: relative;
      flex: 2;
      .dangnhap {
        h1 {
          margin: 40px 0 10px;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          color: #112950;
          text-align: center;
        }
        .formUser {
          margin: 20px 55px 0;
          .username_full,
          .password_full {
            margin-bottom: 30px;
            //   display: flex;
            //   align-items: center;
            //   justify-content: center;
            //   padding-bottom: 5px;
            //   border-bottom: 1px solid #e5e5e5;
            //   color: rgb(142, 154, 171);
            p {
              color: #f33060;
              font-size: 0.75rem;
              line-height: 18px;
              margin-top: 2px;
            }
            .password,
            .username {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 5px;
              border-bottom: 1px solid #e5e5e5;
              color: rgb(142, 154, 171);
              label {
                margin-right: 5px;
              }
              input {
                width: 100%;
                outline: none;
                border: none;
                &::placeholder {
                  color: rgb(142, 154, 171);
                }
              }
            }
          }
          .password_full {
            margin-bottom: 15px;
          }
          .forget_password {
            text-align: right;
            margin-bottom: 20px;
            a {
              outline: none;
              text-decoration: none;
              color: #8e9aab;
            }
          }
          button {
            color: #fff;
            background-color: #0f62f9;
            border: 1px solid #0f62f9;
            border-radius: 15px;
            width: 100%;
            padding: 15px 0px;
            font-size: 18px;
            font-weight: bolder;
          }
          .createUser {
            margin-top: 20px;
            h1 {
              margin: 20px 0px 0px;
              font-size: 15px;
            }
            p {
              cursor: pointer;
              text-align: center;
              display: flex;
              margin: auto;
              align-items: center;
              justify-content: center;
              color: #5dac46;
              padding-bottom: 5px;
              border-bottom: 1px solid #5dac46;
              font-weight: bolder;
              max-width: 110px;
            }
          }
        }
      }
      .timmatkhau {
        p {
          font-size: 0.875rem;
          line-height: 24px;
          color: #8e9aab;
          text-align: start;
          margin: 0px 50px;
        }
        h1 {
          margin: 40px 0 10px;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          color: #112950;
          text-align: center;
        }
        .formUser {
          margin: 20px 55px 0;
          .username_full {
            margin-bottom: 30px;
            p {
              color: #f33060;
              font-size: 0.75rem;
              line-height: 18px;
              margin-top: 2px;
            }
            .username {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 5px;
              border-bottom: 1px solid #e5e5e5;
              color: rgb(142, 154, 171);
              img {
                width: 100px !important;
                height: 100px !important;
              }
              label {
                margin-right: 5px;
              }
              input {
                width: 100%;
                outline: none;
                border: none;
                margin-left: 10px;
                &::placeholder {
                  color: rgb(142, 154, 171);
                }
              }
            }
          }
          button {
            color: #fff;
            background-color: #0f62f9;
            border: 1px solid #0f62f9;
            border-radius: 15px;
            width: 100%;
            padding: 15px 0px;
            font-size: 18px;
            font-weight: bolder;
          }
          .createUser {
            margin-top: 20px;
            h1 {
              margin: 20px 0px 0px;
              font-size: 15px;
            }
            p {
              cursor: pointer;
              text-align: center;
              display: flex;
              margin: auto;
              align-items: center;
              justify-content: center;
              color: #5dac46;
              padding-bottom: 5px;
              border-bottom: 1px solid #5dac46;
              font-weight: bolder;
              max-width: 110px;
            }
          }
        }
      }
      .dangky {
        h1 {
          margin: 40px 0 10px;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          color: #112950;
          text-align: center;
        }
        .formUser {
          margin: 20px 55px 0;
          .username_full,
          .password_full {
            margin-bottom: 30px;
            p {
              color: #f33060;
              font-size: 0.75rem;
              line-height: 18px;
              margin-top: 2px;
            }
            .username,
            .password {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 5px;
              border-bottom: 1px solid #e5e5e5;
              color: rgb(142, 154, 171);
              img {
                width: 100px;
                height: 100px;
              }
              label {
                margin-right: 5px;
              }
              input {
                width: 100%;
                outline: none;
                border: none;
                &::placeholder {
                  color: rgb(142, 154, 171);
                }
              }
            }
          }
          .checkboxYes {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            cursor: pointer;
            font-weight: bolder;
            margin-bottom: 20px;
            span {
              text-decoration: underline;
            }
          }
          button {
            color: #fff;
            background-color: #0f62f9;
            border: 1px solid #0f62f9;
            border-radius: 15px;
            width: 100%;
            padding: 15px 0px;
            font-size: 18px;
            font-weight: bolder;
          }
          .createUser {
            margin-top: 20px;
            margin-bottom: 20px;
            h1 {
              margin: 20px 0px 0px;
              font-size: 15px;
            }
            p {
              cursor: pointer;
              text-align: center;
              display: flex;
              margin: auto;
              align-items: center;
              justify-content: center;
              color: #5dac46;
              padding-bottom: 5px;
              border-bottom: 1px solid #5dac46;
              font-weight: bolder;
              max-width: 110px;
            }
          }
        }
      }
      .closeModal {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        color: rgb(142, 154, 171);
      }
    }
  }
}
